* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    width: 1440px;
    height: 1909px;
}

a {
    text-decoration: none;
}
.site-manage__navigation {
    text-align: right;
    font: normal 12px/20px 'Oxygen', sans-serif;
    letter-spacing: 0.6px;
    color: #FFFFFF;
    display: flex;
    width: 400px;
    justify-content: space-between;
}

.last-bar__navigation {
    text-align: right;
    font: normal 12px/20px 'Oxygen', sans-serif;
    color: #FFFFFF;
    display: flex;
    width: 400px;
    justify-content: space-between; 
    letter-spacing: 1px;
    opacity: 0.60;    
}

.last-bar {
    height: 89px;
    width: 1440px;
    background: #232F3899;
    opacity: 0.60;
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
    padding: 0 100px 0 100px;

}

.site-manage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 0 100px;
}

.navigation__link {
    text-decoration: none;
    color: #FFFFFF;
    text-align: right;
    padding-right: 40px;
    padding-top: 22px;
    text-transform: uppercase;

}

.site-manage__brand-name {
    font: normal 26px/26px 'Lora', serif;
    color: #FFFFFF;
    /* padding-left: 100px; */
    padding-top: 10px;
}

.last-bar__brand-name {
    font: normal 26px/26px 'Lora', serif;
    padding-top: 10px;
    color: #FFFFFF;
}

header {
    background: url("../pics/hills.png");
    width: 1440px;
    height: 500px;
}

.title {
    text-align: center;
}

.title__text {
    font: normal 19px/20px 'Oxygen', sans-serif;
    color: #FFFFFF;
    font-size: 19px;
    line-height: 20px;
    opacity: 0.63;
}

.article:last-child
{
    margin-right: 0;
}

.title__name {
    font: normal 50px/51px 'Lora', serif;
    color: #FFFFFF;
    letter-spacing: 2px;
    margin: 12px;
    margin-top: 100px;
}

.articles-type {
    text-align: center;
    height: 30px;
    background-color: #FFFFFF;
    padding: 20px 0 40px 0;
}

.articles-type__link {
    text-align: center;
    font: normal 14px/20px 'Lora', serif;
    color: #768088;
    /* padding: 40px; */
    margin: 20px;
    padding: 3px;
}

.articles-type__link:hover {
    background-color:  #F6F6F6;
    transition: 350ms;
    cursor: pointer;
}

.title__site-transit {
    width: 167px;
    background-color: #DD783F;
    border: none;
    border-radius: 3px;
    display: inline-block;
    font: normal 13px/20px 'Oxygen', sans-serif;
    color: #FFFFFF;
    margin: 28px;
    padding: 12px 0 12px 0;
}

.title__site-transit:hover {
    cursor: pointer;
    width: 200px;
    background-color: #F37E3B;
}

section {
    background-color: #F6F6F6;
    
}

.fetured-posts__name, .recents__name {
    text-align: center;
    font: normal 20px/27px 'Oxygen', sans-serif;
    color: #2E2E2E;
    letter-spacing: 2px;
}

/* posts */
.post__first-post {
   background: #FFFFFF url("../pics/NorthLights.png"); 
}

.post__fetured-card {
    height: 280px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;
    padding: 0 3% 3% 3%;
}

.post__second-post {
    background: #FFFFFF url("../pics/child.png"); 
}

.post__first-post, .post__second-post {
    border-radius: 3px;
}
 
.post__theme {
    height: 26px;
    width: 87px;
    background: #DD783F;
    border-radius: 2px;
    margin-left: 5%;
    margin-bottom: 110px;
}

.post__theme-text {
    font: normal 400 12px/13px 'Oxygen';
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 6px;
    color: #FFFFFF;
    padding-top: 2.5px;
    text-transform: uppercase;
}

.post__fetured-article {
    width: 460px;
    height: 280px;
    background-color: #FFFFFF;
}

.post__fetured-table {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    width: 966px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 12px;
}

.post>* {
    color: #FFFFFF;
}

.post__title {
    font: normal 27px/30px 'Lora';
    color: #FFFFFF;
}
.post__string {
    background: #EFEFEF;
    height: 1px;
    border: none;
}

.post__author-featured {
    padding-top: 100%;
}

.post__author {
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
}
.post__author-name-userpic {
    display: flex;
    align-items: center;
}

.post__short-description {
    font: normal 14px/25px 'Oxygen', sans-serif;
    opacity: 0.7;
    margin-top: 15px;
}

.post__author-name {
    font: normal 12px/35px 'Oxygen', sans-serif;
    opacity: 0.7;
    padding-left: 10px;
}

.post__publication-date {
    font: normal 12px/35px 'Oxygen', sans-serif;
    opacity: 0.7;
}

.recent {
    padding-bottom: 96px;
    padding-top: 25px;
}

.post__recent-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0% 3% 1% 3%;

}

.fetured {
    padding-top: 62px;
    padding-bottom: 50px;
}

.featured__string {
    width: 188px;
    height: 1px;
    background: #DEDEDE;
    border: none;
    margin-top: 15px;
}

.recent__string {
    width: 188px;
    height: 1px;
    background: #DEDEDE;
    border: none;
    margin-top: 15px;
}

.featured-posts__title {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}

.recent__title {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}

.post__author-userpic {
    border-radius: 60px;
    width: 26px;
}
.post__author-userpic {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    margin-right: 10px;
}

.most-recent-posts
{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 83px;
}

.post__recent-post
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3px;
    height: 291px;
    width: 296px;
    background: #FFFFFF;
    margin: 0 12px 25px 12px; 
}

.post__recent-table
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 140px;
}

.most-recent-posts__post_still-standing-tall
{
    background: #D6D6D6 url("../pics/ballon.jpg");
    width: 296px;
    height: 150px;
    border-bottom: solid 1px #E5E5E5;
}

.most-recent-posts__post_sunny-side-up
{
    background: #D6D6D6 url("../pics/bridge.png");
    width: 296px;
    height: 150px;
    border-bottom: solid 1px #E5E5E5;
}

.most-recent-posts__post_water-falls
{
    background: #D6D6D6 url("../pics/field.png");
    width: 296px;
    height: 150px;
    border-bottom: solid 1px #E5E5E5;
}

.most-recent-posts__post_through-the-mist
{
    background: #D6D6D6 url("../pics/water.png");
    width: 296px;
    height: 150px;
    border-bottom: solid 1px #E5E5E5;
}

.most-recent-posts__post_awaken-early
{
    background: #D6D6D6 url("../pics/smoke.png");
    width: 296px;
    height: 150px;
    border-bottom: solid 1px #E5E5E5;
}

.most-recent-posts__post_try-it-always
{
    background: #D6D6D6 url("../pics/waterfall.png");
    width: 296px;
    height: 150px;
    border-bottom: solid 1px #E5E5E5;
}

.william-wong-face
{
    background: #FFFFFF url("../pics/Will.jpg");
    height: 26px;
    width: 26px;
    border-radius: 50%;
    margin-right: 10px;
}

/* recent posts */
.most-recent-posts__post
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3px;
    height: 291px;
    width: 296px;
    background: #FFFFFF;
    margin: 0 12px 25px 12px;
}

.recent-posts .post__author-name, .recent-posts .post__publication-date {
    color: #999999;
}

.recent-posts .post__title {
    font: normal 16px/21px 'Lora', serif;
    color: #101315;
}

.post__image {
    width: 296px;
    height: 150px;
    
}

.recent-posts .post__short-description {
    font: normal 13px/19px 'Oxygen', sans-serif;
    color: #7A7A7A;
}

.site-footer {
    margin-top: -95px;
}

.input-mail{
    display: flex;
    justify-content: center;
    margin: 39px 0 75px 0;
}

.input-mail__txt {
    border: none;
    height: 50px;
    width: 375px;
    background: #FFFFFF;
    outline: none;
    color: #817F83;
    padding-left: 20px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

}

.input-mail__btn {
    border: none;
    height: 50px;
    width: 125px;
    left: 375px;
    background: #FFFFFF47;
    color: #F8F8F8;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

}

.site-mail {
    background: url("../pics/footer2.png");
    height: 378px;
}

.connection__text {
    font: 400 25px/30px Oxygen;
    text-align: center;
    color: #EFEFEF;
    padding-top: 90px;
}

.connection__decor {
    height: 1px;
    width: 188px;
    background: #DEDEDE;
    margin: 5px auto 0 auto;

}

