*
{
    margin: 0;
    padding: 0;
}

#container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper
{
    width: 82%;
}

.header
{
    width: 100%;
    background-color: #2E2E2E;
    display: flex;
    justify-content: center;
}

.header__elements
{
    display: flex;
    justify-content: space-between;
    margin: 25px 0 25px 0;
}

.header__avatar-and-exit
{
    display: flex;
    align-items: center;
}

.header__avatar
{
    margin-right: 12px;
}

.header__exit
{
    margin-left: 12px;
}

.main
{
    background: #F5F5F5;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-top
{
    margin-top: 70px;
}

.main-top__info
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.main-top__title
{
    font: 400 normal 35px/40px 'Lora';
    margin-bottom: 11px;
}

.main-top__subtitle
{
    font: 400 normal 14px/20px 'Oxygen';
    color: rgba(46, 46, 46, 0.63);
}

.main-top__button
{
    width: 105px;
    height: 50px;
    border: 0;
    background: #DD783F;
    border-radius: 3px;
    color: white;
    font: 400 normal 16px/24px 'Oxygen';
}

.main-top__massage
{
    border-left: 2px solid #E86961;
    border-radius: 5px;
    width: 100%;
    background-color: #FFEBEA;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    animation-duration: 1s;
    animation-name: massage;
}

.main-top__massage_complited
{
    background-color: #E6FCEF;
    border-color: #67C48C;
}

.main-top__icon
{
    margin: 10px 10px 10px 12px;
}

.main-top__massage-text
{
    font: 400 normal 14px/20px 'Oxygen';
}

.main-info
{
    background-color: white;
    padding: 42px;
}

.main-info__title
{
    margin-bottom: 40px;
    font: 400 normal 29px/30px 'Lora';
}

.main-info__form
{
    display: flex;
    align-items: flex-start;
    gap: 105px;
}

.main-info__fields-for-entering
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 44px;
}

.main-info__fields-title
{
    font: 400 normal 13px/16px 'Oxygen';
    color: #7A7A7A;
    margin-bottom: 7px;
}

.main-info__fields
{
    width: 591px;
    height: 41px;
    background: #F7F7F7;
    border: 0;
    border-bottom: 1px solid #2E2E2E;
    border-radius: 5px 5px 0px 0px;
    font: 400 normal 16px/24px 'Oxygen';
    outline-width: 0;
}

.main-info__field-for-author-name
{
    width: 591px;
    height: 41px;
    background: #FFFFFF;
    border: 0;
    border-bottom: 1px solid #EAEAEA;
    border-radius: 5px 5px 0px 0px;
    font: 400 normal 16px/24px 'Oxygen';
    outline-width: 0;
}

.main-info__field-author-photo
{
    display: flex;
}

.main-info__label
{
    display: flex;
    align-items: center;
}

.main-info__upload
{
    font: 400 normal 16px/24px 'Oxygen';
    margin: 8px;
}

.main-info__remove
{
    font: 400 normal 16px/24px 'Oxygen';
    color: #E86961;
    margin: 8px;
}

.main-info__big
{
    width: 560px;
    height: 160px;
}

.main-info__small
{
    width: 296px;
    height: 150px;
}

.main-info__photo-icon
{
    margin-right: 16px;
    width: 48px;
    height: 48px;
    border-radius: 24px;
}

.main-info__field-hero-image
{
    display: flex;
    flex-direction: column;
}

.main-info__update-remove-label
{
    display: flex;
    margin: 8px;
}

.main-info__fields-note
{
    margin-top: 12px;
    color: #999999;
}

.main-info__article-label
{
    font: 400 normal 15px/20px 'Oxygen';
    margin-bottom: 18px;
}

.main-info__article-preview
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 440px;
    height: 385px;
    margin-bottom: 44px;
}

.main-info__article-preview-frame
{
    position: absolute;
    z-index: 1;
}

.main-info__article-title
{
    margin-top: 97px;
    font: 400 normal 22px/24px 'Lora';
    color: #2E2E2E;
}

.main-info__article-description
{
    margin-top: 6px;
    font: 400 normal 11px/12px 'Oxygen';
    color: rgba(46, 46, 46, 0.63);
}

.main-info__article-image
{
    margin-top: 38px;
    height: 160px;
    width: 408px;
}

.main-info__article-gradient
{
    position: absolute;
    width: 119px;
    height: 385px;
    margin-left: 290px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 84.72%);
}

.main-info__post-card-label
{
    font: 400 normal 15px/20px 'Oxygen';
    margin-bottom: 19px;
}

.main-info__post-card-preview
{
    width: 440px;
    height: 360px;
    display: flex;
    flex-direction: column;
}

.main-info__post-card-preview-frame
{
    position: absolute;
    z-index: 1;
}

.main-info__post-card-preview-elements
{
    margin: 32px 0 0 16px;
    width: 296px;
    height: 291px;
    display: flex;
    flex-direction: column;
}

.main-info__post-card-image
{
    width: 294px;
    height: 150px;
    border: 1px solid #D3D3D3;
}

.main-info__border
{
    border: 1px solid #D3D3D3;
}

.main-info__post-card-title
{
    font: 400 normal 16px/21px 'Lora';
    color: #101315;
    margin: 14px 0 0 13px;
}

.main-info__post-card-description
{
    font: 400 normal 13px/19px 'Oxygen';
    color: #7A7A7A;
    margin: 7px 0 32px 13px;
}

.main-info__post-card-author-photo
{
    margin: 12px 0 12px 13px;
    width: 26px;
    height: 26px;
}

.main-info__post-card-author-data
{
    margin-top: 8px;
    font: 400 normal 12px/35px 'Oxygen';
    color: #999999;
}

.main-info__post-info
{
    display: grid;
    grid-template-columns: 49px 1fr 1fr;
    background-color: #FCFCFC;
}

.main-info_post-card-data
{
    text-align: right;
    margin-right: 13px;
}

.main-info__post-card-gradient-vertical
{
    position: absolute;
    width: 374px;
    height: 396px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 84.72%);
    margin-left: 69px;
}

.main-info__post-card-gradient-gorizontal
{
    position: absolute;
    height: 85px;
    width: 440px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    margin-top: 278px;
}

.z-top
{
    z-index: 2;
}

.content
{
    margin-top: 16px;
    background-color: white;
    padding: 40px 0 0 40px;
}

.content__title
{
    margin-bottom: 44px;
    font: 400 normal 28px/30px 'Lora';
}

.content__comment
{
    font: 400 normal 13px/16px 'Oxygen';
    color: #7A7A7A;
}

.content__field-for-content
{
    width: 940px;
    height: 160px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    padding: 12px;
    font: 400 normal 17px/24px 'Oxygen';
    margin-bottom: 56px;
}

.main-info__fields_select
{
    border-bottom: 1px solid #218af7;
}

.main-info__fields_error
{
    border-bottom: 1px solid red;
}

.main-info__error-message
{
    color: red;
    font: 400 normal 12px/16px 'Oxygen';
    margin-top: 5px;
    animation-duration: 1s;
    animation-name: massage;
}

@keyframes massage
{
    from
    {
        opacity: 0%;
    }
    to
    {
        opacity: 100%;
    }
}